.content {
  margin-top: .8em;
  background: #fff;
}
.topbar {
  height: 3em;
  background: #cd0018;
  text-align: center;
  color: #fff;
}
.topbar .back-icon,
.topbar .sure-select {
  color: #fff;
  position: fixed;
  z-index: 10000;
  top: .5em;
  display: block;
  height: 2em;
  line-height: 2em;
}
.topbar .back-icon {
  left: 1em;
  float: left;
}
.topbar .bartitle {
  font-size: large;
  font-weight: bold;
  line-height: 2.5em;
}
.topbar .sure-select {
  right: 1em;
  float: right;
}
.list-group-item {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-bottom: 1px solid #cfcdcd;
}
.list-group-item a {
  color: #000;
}
.list-group-item .list-group-item-heading {
  color: #c1c1c1;
}
