<div class="dotosubmit">
    <div class="topbar">
        <a class="back-icon" href="javascript:history.go(-1);"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
        <span class="bartitle">{{pageinfo.pagename}}</span>
        <a class="submit-icon" (click)="dotosubmit()"> 提交</a>
    </div>
    <div class="content">
        <!----------------------------------------------意见输入框--------------------------------------------------->
        <my-options [myoptions] = "options" [umopinion]="umopinion" (onoptions)="onoptions($event)"></my-options>
        <!----------------------------------------------------------------------------------------------------------->
        <!---------------------------------------------- 操作项组件 --------------------------------------------------->
        <div *ngIf="nodelist">
            <div *ngFor="let node of nodelist">
                <router-box [ischeck]="router[node?.item?.nodeid]" [nodelist]="nodelist" [multiroute] = "multiroute" [node]="node"  (onrouter)="unSelectExclude($event)" [routertype]="todo"></router-box>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------->
        <!---------------------------------------------- 传阅组件 --------------------------------------------------->
        <router-box (onrouter)="onrouter($event)" *ngIf="issbread" [routertype]="toread"></router-box>
        <!----------------------------------------------------------------------------------------------------------->
    </div>
</div>