<div class="dotosubmit">
    <div class="topbar">
        <span class="bartitle">{{pageinfo.pagename}}</span>
        <a class="back-icon right" (click)="dotosubmit()"> 提交</a>
    </div>
    <div class="content">
        <!----------------------------------------------意见输入框--------------------------------------------------->
        <my-options [myoptions] = "options" (onoptions)="onoptions($event)"></my-options>
        <!----------------------------------------------------------------------------------------------------------->
        <!---------------------------------------------- 操作项组件 --------------------------------------------------->
        <div *ngIf="nodelist">
            <div *ngFor="let node of nodelist">
                <router-box [ischeck]="isrouter(node.item.nodeid)" [nodelist]="nodelist" [defaultuser] = "node.defaultuser" [departmentparam] = "node.departmentparam" [item] = "node.item" (onrouter)="unSelectExclude($event)" ></router-box>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------->
        <!---------------------------------------------- 传阅组件 --------------------------------------------------->
        <router-box (onrouter)="onrouter($event)" *ngIf="issbread"></router-box>
        <!----------------------------------------------------------------------------------------------------------->
    </div>
</div>