<!------------------------------------   单选隐藏 多选显示    -------------------------------------------------->
<!--<div class="checkbox checkbox-danger" *ngIf="multiuser == 1">-->
    <!--<input type="checkbox" id="checkboxselct1" class="styled" [(ngModel)] ="nextcheckbox[items.groupid]" >-->
    <!--<label for="checkboxselct1"></label>-->
<!--</div>-->
<!------------------------------------   单选隐藏 多选显示    -------------------------------------------------->
<div class="user-items">
    <div [ngSwitch]="multiuser == 0">
        <ul *ngSwitchCase="true"  class="select-child">
            <li class="child-li" *ngFor="let useritem of userlist">
                <div class="radio radio-danger">
                    <input type="radio" [attr.id]="useritem.userid" [attr.name]="group.groupid" class="styled" checked="{{selectusers && selectusers[useritem.userid+'@'+useritem.username] == true}}" value="{{useritem.userid+'@'+useritem.username}}">
                    <label [attr.for]="useritem.userid">{{useritem.cnname}}</label>
                </div>
            </li>
        </ul>
        <ul *ngSwitchDefault  class="select-child">
            <li class="child-li" *ngFor="let useritem of userlist">
                <div class="checkbox checkbox-circle checkbox-danger">
                    <input type="checkbox" [attr.id]="useritem.userid" class="styled" [(ngModel)] = "selectusers[useritem.userid+'@'+useritem.cnname]">
                    <label [attr.for]="useritem.userid">{{useritem.cnname}}</label>
                </div>
            </li>
        </ul>
    </div>
</div>
