.content {
  margin-top: 3.8em;
  background: #fff;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  z-index: 9998;
  background: #cd0018;
  text-align: center;
  color: #fff;
}
.topbar .back-icon,
.topbar .sure-select,
.topbar .submit-icon {
  color: #fff;
  position: fixed;
  z-index: 9999;
  top: .5em;
  display: block;
  height: 2em;
  line-height: 2em;
}
.topbar .submit-icon {
  right: 1em;
  float: right;
  background: #cd0018;
  font-size: inherit;
  padding: 0.1em .5em;
  border: none;
}
.topbar .back-icon {
  left: 1em;
  float: left;
}
.topbar .bartitle {
  font-size: large;
  font-weight: bold;
  line-height: 2.5em;
}
.topbar .sure-select {
  right: 1em;
  float: right;
}
.list-group-item {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-bottom: 1px solid #cfcdcd;
}
.list-group-item a {
  color: #000;
  display: block;
}
.list-group-item .list-group-item-heading {
  color: #c1c1c1;
}
.list-group-item .type-txt {
  display: block;
  float: right;
  color: #cfcdcd;
}
.listpage {
  background: #cfcdcd;
}
.listpage .content .main {
  width: 100%;
}
.listpage .content .main .main-li {
  width: 100%;
}
.listpage .content .main .main-li a {
  display: block;
  width: 100%;
  position: relative;
  padding: 1em;
  border-bottom: 1px solid #cfcdcd;
}
.listpage .content .main .main-li a .badge {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  right: 1em;
}
.select-group {
  padding: 1em;
}
.select-group .group-list {
  padding: 0;
  margin: .5em;
}
.select-group .group-list .items:before,
.select-group .group-list .items:after {
  content: " ";
  display: table;
}
.select-group .group-list .items:after {
  clear: both;
}
.select-group .group-list .items .group-items {
  float: left;
  display: block;
  border: 1px solid #e8e8e8;
  background: #c1c1c1;
  padding: .3em .5em;
  margin: .3em .5em;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
