<div class="user-items">
    <div>
        <ul class="select-child">
            <li class="child-li" *ngFor="let useritem of userlist">
                <div class="checkbox checkbox-circle checkbox-danger">
                    <input *ngIf="multiuser == 0" type="checkbox" [attr.id]="useritem.userid" class="styled" (click)="nomultiuser(useritem.userid+'@'+useritem.cnname)" [ngModel] = "selectusers[useritem.userid+'@'+useritem.cnname]">
                    <input *ngIf="multiuser != 0" type="checkbox" [attr.id]="useritem.userid" class="styled" [(ngModel)] = "selectusers[useritem.userid+'@'+useritem.cnname]">
                    <label [attr.for]="useritem.userid">{{useritem.cnname}}</label>
                </div>
            </li>
        </ul>
    </div>
</div>
