<div class="routerbox" >
        <div class="routertitle">
            <div class="radio radio-danger">
                <input type="radio" [attr.id]="item?.nodeid" class="styled" (click)="selectitemsfn()" [(ngModel)]="ischeck"><!--checked="{{ischeck}}"-->
                <label [attr.for]="item?.nodeid">{{node?.item?.nodename ? node?.item?.nodename : "传阅"}}</label>
            </div>
            <a class="fl-right" (click)="delall()"> <span class="glyphicon glyphicon-trash"></span> 删除</a>
        </div>
        <div class="select-group">
            <ul *ngIf="selectusers?.length > -1">
                <li *ngFor="let group of selectusers" class="group-list">
                    <h4 *ngIf="!departmentparam">{{group.group.groupname}}</h4>
                    <div class="items">
                        <span class="group-items" *ngFor="let user of group.userselect">
                            <a class="withclosebadge"  (click)="del(group,user)">
                                {{user.username}} |
                                <span>x</span>
                            </a>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<selectbox *ngIf="openitems"  [selectitems] = "selectitems" [multiuser] = "node?.item?.multiuser" [departmentparam] ="node?.departmentparam"  [historyusers] = "selectusers" (onselect) = "onselect($event)"></selectbox>