<div class="routerbox" >
        <div class="routertitle">
            <div class="checkbox checkbox-circle checkbox-danger" *ngIf="routertype == 'todo'">
                <input type="checkbox" [attr.id]="node?.item?.nodeid" class="styled" [(ngModel)]="ischeck" (ngModelChange)="ischeckornot($event)"><!---->
                <label [attr.for]="node?.item?.nodeid">{{node?.item?.nodename }}</label>
            </div>
            <div class="checkbox checkbox-circle checkbox-danger" *ngIf="routertype == 'toread'">
                <input type="checkbox" [attr.id]="toreadcheckbox" class="styled" [(ngModel)]="ischeck" (ngModelChange)="ischeckornot($event)"><!---->
                <label [attr.for]="toreadcheckbox">传阅</label>
            </div>
            <a class="fl-right" (click)="selectitemsfn()"> <span class="	glyphicon glyphicon-align-justify"></span></a>
        </div>
        <div class="select-group">
            <ul *ngIf="selectusers?.length > -1">
                <li *ngFor="let group of selectusers" class="group-list">
                    <span *ngIf="routertype == 'toread' && group.userselect && group.userselect.length >0">{{group?.group?.groupname}}</span>
                    <div class="items">
                        <span class="group-items" *ngFor="let user of group.userselect">
                            <a class="withclosebadge"  (click)="del(group,user)">
                                {{user.username}} |
                                <span>x</span>
                            </a>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<selectbox *ngIf="openitems"  [selectitems] = "selectitems" [multiuser] = "node?.item?.multiuser" [departmentparam] ="node?.departmentparam"  [historyusers] = "selectusers" (onselect) = "onselect($event)"></selectbox>