.content {
  margin-top: .8em;
  background: #fff;
}
.topbar {
  height: 3em;
  background: #cd0018;
  text-align: center;
  color: #fff;
}
.topbar .back-icon,
.topbar .sure-select,
.topbar .submit-icon {
  color: #fff;
  position: fixed;
  z-index: 10000;
  top: .5em;
  display: block;
  height: 2em;
  line-height: 2em;
}
.topbar .submit-icon {
  right: 1em;
  float: right;
}
.topbar .back-icon {
  left: 1em;
  float: left;
}
.topbar .bartitle {
  font-size: large;
  font-weight: bold;
  line-height: 2.5em;
}
.topbar .sure-select {
  right: 1em;
  float: right;
}
.list-group-item {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-bottom: 1px solid #cfcdcd;
}
.list-group-item a {
  color: #000;
  display: block;
}
.list-group-item .list-group-item-heading {
  color: #c1c1c1;
}
.addressbk {
  background: #c1c1c1;
}
.addressbk .content .list-card .list-group-item {
  position: relative;
  height: 3em;
  line-height: 3em;
}
.addressbk .content .list-card .list-group-item .right {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  right: 1em;
}
.addressbk .content .user-card {
  position: relative;
}
.addressbk .content .user-card .back {
  position: absolute;
  top: -3.8em;
  left: 1em;
}
.addressbk .content .user-card .back span {
  display: block;
  height: 3em;
  line-height: 3em;
  color: #fff;
}
.addressbk .content .userinfo-card {
  border: 1px solid #cfcdcd;
  padding: 1em;
  position: relative;
}
.addressbk .content .userinfo-card h3 {
  text-align: center;
  padding: .5em 0;
  border-bottom: 1px solid #cfcdcd;
}
.addressbk .content .userinfo-card dl:before,
.addressbk .content .userinfo-card dl:after {
  content: " ";
  display: table;
}
.addressbk .content .userinfo-card dl:after {
  clear: both;
}
.addressbk .content .userinfo-card dl dd,
.addressbk .content .userinfo-card dl dt {
  height: 3em;
  line-height: 3em;
  float: left;
}
.addressbk .content .userinfo-card dl dd {
  width: 30%;
}
.addressbk .content .userinfo-card dl dt {
  width: 69%;
}
.addressbk .content .userinfo-card .close {
  position: absolute;
  top: 1em;
  right: 1em;
}
