@import "../../../resources/common";
.detailtab {
  padding : 1em;
  .tb-grid{
    border : 1px solid @gray-deep;
    margin-bottom : 0;
    height : 4em;
    dd{
      width: 30%;
      border-right : 1px solid @gray-deep;
      text-align: center;
    }
    dt{
      padding-left: 1em;
      width: 69%;
    }
    dd,dt{
      height: 100%;
      float : left;
      line-height: 4em;
      display: block;
      span{
        display: block;
        line-height: normal;
        position: relative;
        top : 50%;
        margin-top : -.5em;
      }
    }
  }
}
