.content {
  margin-top: 3.8em;
  background: #fff;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  z-index: 9998;
  background: #cd0018;
  text-align: center;
  color: #fff;
}
.topbar .back-icon,
.topbar .sure-select,
.topbar .submit-icon {
  color: #fff;
  position: fixed;
  z-index: 9999;
  top: .5em;
  display: block;
  height: 2em;
  line-height: 2em;
}
.topbar .submit-icon {
  right: 1em;
  float: right;
  background: #cd0018;
  font-size: inherit;
  padding: 0.1em .5em;
  border: none;
}
.topbar .back-icon {
  left: 1em;
  float: left;
}
.topbar .bartitle {
  font-size: large;
  font-weight: bold;
  line-height: 2.5em;
}
.topbar .sure-select {
  right: 1em;
  float: right;
}
.list-group-item {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-bottom: 1px solid #cfcdcd;
}
.list-group-item a {
  color: #000;
  display: block;
}
.list-group-item .list-group-item-heading {
  color: #c1c1c1;
}
.list-group-item .type-txt {
  display: block;
  float: right;
  color: #cfcdcd;
}
.detailtab {
  padding: 1em;
}
.detailtab .tb-grid {
  border: 1px solid #c1c1c1;
  margin-bottom: 0;
  height: 4em;
}
.detailtab .tb-grid dd {
  width: 30%;
  border-right: 1px solid #c1c1c1;
  text-align: center;
}
.detailtab .tb-grid dt {
  padding-left: 1em;
  width: 69%;
}
.detailtab .tb-grid dd,
.detailtab .tb-grid dt {
  height: 100%;
  float: left;
  line-height: 4em;
  display: block;
}
.detailtab .tb-grid dd span,
.detailtab .tb-grid dt span {
  display: block;
  line-height: normal;
  position: relative;
  top: 50%;
  margin-top: -0.5em;
}
