@import "../../../resources/common";
.processtab{
  padding : 1em auto;
  li{
    width: 95%;
    margin : 1em auto;
    .tb-box {
      margin : 1em auto;
      width : 90%;
      .tb-grid{
        .left{
          width: 8em;
          text-align: center;
        }
        .right{
          width: auto;
          text-align: left;
        }
        td{
          border : 1px solid @gray-shallow;
          vertical-align: middle;
          text-align: center;
          height : auto;
          span.txt{
            display: block;
            line-height: normal;
            position: relative;
            top : 50%;
            padding : 1em;
          }
        }
      }
    }
  }
}
