.content {
  margin-top: 3.8em;
  background: #fff;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  z-index: 9998;
  background: #cd0018;
  text-align: center;
  color: #fff;
}
.topbar .back-icon,
.topbar .sure-select,
.topbar .submit-icon {
  color: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  display: block;
  height: 3em;
  line-height: 3em;
}
.topbar .submit-icon {
  right: 0;
  background: #cd0018;
  font-size: inherit;
  padding: 0 1em;
  border: none;
}
.topbar .back-icon {
  left: 1em;
  float: left;
}
.topbar .bartitle {
  font-size: large;
  font-weight: bold;
  line-height: 2.5em;
}
.topbar .sure-select {
  right: 1em;
  float: right;
}
.list-group-item {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-bottom: 1px solid #cfcdcd;
}
.list-group-item a {
  color: #000;
  display: block;
}
.list-group-item .list-group-item-heading {
  color: #c1c1c1;
}
.list-group-item .type-txt {
  display: block;
  float: right;
  color: #cfcdcd;
}
.ml {
  z-index: 10001;
  width: 100%;
  height: 100%;
  min-height: 400px;
  overflow: hidden;
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
}
.ml .ld-icon {
  position: relative;
  top: 50%;
  left: 50%;
  margin: -2.5em auto auto -2.5em;
  padding: 1em;
  width: 5em;
  height: 5em;
  background: rgba(100, 100, 100, 0.6);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.ml .ld-icon img {
  display: block;
  margin: 0 auto;
  width: 3em;
  height: 3em;
}
.ml .alertbox {
  position: relative;
  top: 30%;
  left: 15%;
  width: 70%;
  background: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #cfcdcd;
}
.ml .alertbox .close {
  position: absolute;
  right: .5em;
  top: .5em;
  display: block;
}
.ml .alertbox .alert-content {
  margin: 1em 1em 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.ml .alertbox .alert-content .ok-red {
  color: #fc3b52;
  font-size: 2.5em;
  margin: .5em 0 .3em;
}
.ml .alertbox .btn-bar a {
  width: 37%;
  height: 2.3em;
  line-height: 2.3em;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}
.ml .alertbox .btn-bar .bg-red {
  background: #fc3b52;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px #993b52;
  margin: 0 3% 1.5em 10%;
}
.ml .alertbox .btn-bar .bg-gray {
  background: #cfcdcd;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px #aaa;
  margin: 0 10% 1.5em 3%;
}
