<ul class="select-group">
    <li class="group-item" *ngFor="let items of selectitems">
        <div class="select-title" (click)="nextselectfn(items)">
            <span class="glyphicon glyphicon-chevron-right" [class.glyphicon-chevron-down]="nextselect && nextselect[items.groupid]  && nextselect[items.groupid]['isopen']" ></span>
            <em>{{items.groupname}}</em>
        </div>
        <!------------------------------------   单选隐藏 多选显示    -------------------------------------------------->
        <div class="all">
            <div class="checkbox checkbox-danger" *ngIf="multiuser != 0">
                <input type="checkbox" id="checkboxselct1" class="styled" (click)="selectall(items)" [(ngModel)]="status[items.groupid]">
                <label for="checkboxselct1"></label>
            </div>
        </div>
        <!------------------------------------   单选隐藏 多选显示    -------------------------------------------------->
        <div class="childgroup">
            <grouplist *ngIf="nextgroup && nextgroup[items.groupid] && nextselect && nextselect[items.groupid] && nextselect[items.groupid]['isopen']" [selectitems] = "nextgroup[items.groupid]"  [multiuser] ="multiuser" [historyusers]="historyusers" [departmentparam]="" #userselect></grouplist>
        </div>
        <userselect *ngIf="nextselect && nextselect[items.groupid] && nextselect[items.groupid]['isopen']" [historyusers]="historyusers" [chooseornot]="status[items.groupid]" [userlist] ="nextselect[items.groupid]" [multiuser]="multiuser" [group]="items" (outusers)="selectusersfn($evnet)"></userselect>
    </li>
</ul>
