<div class="home">
    <div class="topbar">
        <span class="bartitle">中通服国际公司办公系统</span>
    </div>
    <div class="content">
        <menu>
            <ul class="menu-ul">
                <li class="menu-li">
                    <a routerLink="/notice">
                        <img class="item-img" src="../../../resources/static/index-icon-red.png">
                        <h4 class="item-name">通知公告</h4>
                    </a>
                </li>
                <li class="menu-li">
                    <a routerLink="/addressbk">
                        <img class="item-img" src="../../../resources/static/index-icon-blue.png">
                        <h4 class="item-name">通讯录</h4>
                    </a>
                </li>
                <li class="menu-li">
                    <a routerLink="/search">
                        <img class="item-img" src="../../../resources/static/index-icon-purple.png">
                        <h4 class="item-name">搜索公文</h4>
                    </a>
                </li>
                <li class="menu-li">
                    <a (click)="openpage('toread')">
                        <img class="item-img" src="../../../resources/static/index-icon-pink.png">
                        <span class="badge">{{toreadnum}}</span>
                        <h4 class="item-name">待阅文件</h4>
                    </a>
                </li>
            </ul>
        </menu>
        <div class="banner">
            <span class="notice-icon">公告</span>
            <h5><a routerLink="/noticedetail/{{notice?.noticeid}}">{{notice?.title}}</a></h5>

        </div>
        <div class="list-group main">
            <div class="list-group-item header">
                <h4><span class="icon-rectangle"></span> 我的待办</h4>
                <a (click)="openpage('todo')"><span class="more-icon">更多 ({{todonum}}项)</span></a>
            </div>
            <div *ngIf="doclist">
                <div class="list-group-item" *ngFor="let doc of doclist">
                    <a routerLink="/detail/todo/{{doc?.detailparam?.moduleid}}/{{doc?.detailparam?.nodeid}}/{{doc?.detailparam?.docid}}/{{doc?.detailparam?.appid}}">
                        <em>{{doc?.view?.topic}}</em>
                        <span class="type-txt">{{doc?.view?.modulename}}</span>
                    </a>
                </div>
            </div>
            <no-content  *ngIf="!doclist"></no-content>
        </div>
    </div>
</div>