.content {
  margin-top: 3.8em;
  background: #fff;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  z-index: 9998;
  background: #cd0018;
  text-align: center;
  color: #fff;
}
.topbar .back-icon,
.topbar .sure-select,
.topbar .submit-icon {
  color: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  display: block;
  height: 3em;
  line-height: 3em;
}
.topbar .submit-icon {
  right: 0;
  background: #cd0018;
  font-size: inherit;
  padding: 0 1em;
  border: none;
}
.topbar .back-icon {
  left: 1em;
  float: left;
}
.topbar .bartitle {
  font-size: large;
  font-weight: bold;
  line-height: 2.5em;
}
.topbar .sure-select {
  right: 1em;
  float: right;
}
.list-group-item {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-bottom: 1px solid #cfcdcd;
}
.list-group-item a {
  color: #000;
  display: block;
}
.list-group-item .list-group-item-heading {
  color: #c1c1c1;
}
.list-group-item .type-txt {
  display: block;
  float: right;
  color: #cfcdcd;
}
.notice-icon {
  display: inline-block;
  min-width: 10px;
  padding: .3em .6em;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #fc3b52;
  border-radius: 3px;
  content: "公告";
  position: absolute;
  font-size: 13px;
  top: 50%;
  margin-top: -0.9em;
}
.more-icon {
  display: inline-block;
  min-width: 10px;
  padding: .3em .6em;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #fc3b52;
  border-radius: 3px;
  content: "更多";
  position: absolute;
  font-size: 15px;
  top: 50%;
  right: 1em;
  margin-top: -0.9em;
}
.home {
  background: #fff;
}
.home .topbar .sure-select {
  float: left;
  right: .5em;
}
.home .topbar .sure-select .dropdown-toggle {
  height: 3em;
  position: relative;
}
.home .topbar .sure-select .dropdown-toggle .txt-box {
  width: 2em;
  overflow: hidden;
  display: block;
  height: 3em;
}
.home .topbar .sure-select .dropdown-toggle .txt-box .txt {
  display: block;
  white-space: nowrap;
  text-shadow: black 5px 3px 3px;
}
.home .topbar .sure-select .dropdown-toggle .txt-box .txt .glyphicon {
  font-size: large;
}
.home .topbar .sure-select .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: -0.7em;
  margin-top: -0.1em;
}
.home .topbar .sure-select .dropdown-menu {
  right: -1em;
  float: right;
  text-align: center;
  left: auto;
}
.home .content menu {
  margin: 0 ;
  padding: 0;
  width: 100%;
}
.home .content menu .menu-ul {
  margin-bottom: 0;
}
.home .content menu .menu-ul:before,
.home .content menu .menu-ul:after {
  content: " ";
  display: table;
}
.home .content menu .menu-ul:after {
  clear: both;
}
.home .content menu .menu-ul .menu-li {
  float: left;
  width: 25%;
  padding: 1em 0;
}
.home .content menu .menu-ul .menu-li a {
  position: relative;
  display: block;
  width: 100%;
}
.home .content menu .menu-ul .menu-li a .badge {
  position: absolute;
  top: 0;
  right: 1em;
  background-color: #fc3b52;
}
.home .content menu .menu-ul .menu-li a .item-img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.home .content menu .menu-ul .menu-li a .item-name {
  color: #000;
  margin: .5em auto;
  font-weight: bold;
  text-align: center;
  padding: .5em;
}
.home .content .banner {
  background: #cfcdcd;
  padding: .5em;
  position: relative;
}
.home .content .banner h5 {
  display: inline-block;
  padding: 1em 1em 1em 3em;
}
.home .content .banner h5 a {
  color: #000;
}
.home .content .main .header {
  position: relative;
  padding: 1em 1em !important;
}
.home .content .main .header h4 {
  margin: 0;
}
.home .content .main .list-group-item {
  padding: 1em 15px;
  border: none;
  margin-top: 1px;
  border-bottom: 1px solid #cfcdcd;
  position: relative;
}
.home .content .main .list-group-item em.left-txt {
  display: block;
  margin-right: 5em;
}
.home .content .main .list-group-item .type-txt {
  display: block;
  position: absolute;
  right: 1em;
  top: 50%;
  margin-top: -0.5em;
  color: #cfcdcd;
}
