<div class="doclist">
    <div class="topbar">
        <a class="back-icon" routerLink="/modulelist/{{doctype}}"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
        <span class="bartitle">{{pageinfo.pagename}}</span>
    </div>
    <div class="content">
        <ul class="list-group main">
            <li class="list-group-item" *ngFor="let list of doclist">
                <div>
                    <a routerLink="/detail/{{doctype}}/{{list?.detailparam?.moduleid}}/{{list?.detailparam?.nodeid}}/{{list?.detailparam?.docid}}/{{list?.detailparam?.appid}}">
                        <h4>{{list?.view?.topic}}</h4>
                        <span class="list-group-item-heading">{{list?.view?.datetime}}</span>
                    </a>
                </div>

            </li>
        </ul>

        <loading-more *ngIf="isshowloadmore"  [isactive]="loadmoreactive" (loadmore)="loadmore($event)"></loading-more>
    </div>
</div>