.searchcomp .content {
  background: #fff;
}
.searchcomp .content .search {
  background: #eee;
  padding: 10px 20px;
  margin: 0;
}
.searchcomp .content .history {
  padding: 2em;
}
.searchcomp .content .history .history-title-bar {
  color: #555;
}
.searchcomp .content .history .history-title-bar .del {
  color: #555;
  display: block;
  float: right;
  margin-right: 10px;
}
.searchcomp .content .history .history-list {
  margin: 1em 0 auto 0;
  padding-left: 0;
  width: 100%;
  overflow: hidden;
}
.searchcomp .content .history .history-list li {
  float: left;
  list-style: none;
  height: 2em;
  line-height: 2em;
  padding: 0 .5em;
  margin: .3em;
  background: #eee;
}
