.content {
  margin-top: .8em;
  background: #fff;
}
.topbar {
  height: 3em;
  background: #cd0018;
  text-align: center;
  color: #fff;
}
.topbar .back-icon,
.topbar .sure-select,
.topbar .submit-icon {
  color: #fff;
  position: fixed;
  z-index: 10000;
  top: .5em;
  display: block;
  height: 2em;
  line-height: 2em;
}
.topbar .submit-icon {
  right: 1em;
  float: right;
}
.topbar .back-icon {
  left: 1em;
  float: left;
}
.topbar .bartitle {
  font-size: large;
  font-weight: bold;
  line-height: 2.5em;
}
.topbar .sure-select {
  right: 1em;
  float: right;
}
.list-group-item {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-bottom: 1px solid #cfcdcd;
}
.list-group-item a {
  color: #000;
  display: block;
}
.list-group-item .list-group-item-heading {
  color: #c1c1c1;
}
.searchcomp .content {
  background: #fff;
}
.searchcomp .content .search {
  background: #eee;
  padding: 10px 20px;
  margin: 0;
}
.searchcomp .content .search input {
  border: 1px solid #c1c1c1;
}
.searchcomp .content .history {
  padding: 2em;
}
.searchcomp .content .history .history-title-bar {
  color: #555;
}
.searchcomp .content .history .history-title-bar .del {
  color: #555;
  display: block;
  float: right;
  margin-right: 10px;
}
.searchcomp .content .history .history-list {
  margin: 1em 0 auto 0;
  padding-left: 0;
  width: 100%;
  overflow: hidden;
}
.searchcomp .content .history .history-list li {
  float: left;
  list-style: none;
  height: 2em;
  line-height: 2em;
  padding: 0 .5em;
  margin: .3em;
  background: #eee;
}
