
@import "../../../resources/common";
.searchcomp {
  .content{
    background : #fff;
    .search{
      background : #eee;
      padding : 10px 20px;
      margin : 0;
      input {
        border: 1px solid #c1c1c1;
      }
    }
    .history{
      padding: 2em 1em;
      .history-title-bar{
        color : #555;
        .del {
          color : #555;
          display: block;
          float : right;
          margin-right: 10px;
        }
      }
      .history-list{
        margin: 1em 0 auto 0;
        padding-left: 0;
        width: 100%;
        overflow: hidden;
        li {
          float : left;
          list-style: none;
          height : 2em;
          line-height : 2em;
          padding : 0 .5em;
          margin : .3em;
          background : #eee;
        }
      }
    }
  }
}
